:root {
  /* Colors in OKLCH: */

  --color-orange: oklch(74% 0.18 55);
  --color-tan: oklch(97% 0.01 73);
  --color-gold: oklch(82% 0.16 80);
  --color-blue: oklch(43% 0.1 241);
  --color-magenta: oklch(52% 0.21 360);

  /* Spacing: */

  --space-base: 1rem;
  --space-sm: calc(var(--space-base) / 2);
  --space-lg: calc(var(--space-base) * 2);

  /* Border Radius */

  --border-radius: 0.3rem;
  --border-block-end-radius: 0 0 var(--border-radius) var(--border-radius);
  --border-inline-end-radius: 0 var(--border-radius) var(--border-radius) 0;

  /* Text */

  --line-height: 1.5;
}
