:root {
  /* Colors in OKLCH using relative color syntax: */

  --color-orange: oklch(from darkorange l c h);
  --color-tan: oklch(from floralwhite calc(l - 2%) c h);
  --color-gold: oklch(from orange l c calc(h + 10));
  --color-blue: oklch(from steelblue calc(l - 16%) c h);
  --color-magenta: oklch(from mediumvioletred l c calc(h + 10));

  /* Spacing: */

  --space-base: 1rem;
  --space-sm: calc(var(--space-base) / 2);
  --space-lg: calc(var(--space-base) * 2);

  /* Border Radius */

  --border-radius: 0.3rem;
  --border-block-end-radius: 0 0 var(--border-radius) var(--border-radius);
  --border-inline-end-radius: 0 var(--border-radius) var(--border-radius) 0;

  /* Text */

  --line-height: 1.5;

  /* Templates */

  --template-margin: clamp(var(--space-lg), 8vw, 25rem);
}
