<div class="t-form">
  {{> @label element1 }}
  {{> @input element1 }}

  {{> @label element2 }}
  {{> @describedby element2 }}
  {{> @input element2 }}

  {{> @label element3 }}
  {{> @describedby element3 }}
  {{> @textarea element3 }}

  {{> @label element4 }}
  {{> @describedby element4 }}
  {{> @input element4 }}

  {{> @label element5 }}
  {{> @describedby element5 }}
  {{> @textarea element5 }}

  {{> @label element6 }}
  {{> @input element6 }}

  <input type="submit" value="Submit">
</div>
