<div class="t-gallery-narrow">
  <header>
    {{ render '@skipnav' }}
    {{ render '@header' }}
  </header>
  {{ render '@breadcrumb' }}
  <main id="maincontent">
    <h1>CDL Logos</h1>
    {{#each logo}}
      {{> @card-logo }}
    {{/each}}
  </main>
  {{ render '@footer' }}
</div>
