<ul>
  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
  <li>Accusamus sequi delectus laborum quidem exercitationem voluptatibus commodi?
    <ul>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Atque eius officiis dolores nisi!</li>
      <li>Velit cumque possimus neque laboriosam!</li>
      <li>Lorem ipsum dolor sit amet.
        <ul>
          <li>Dolorem voluptatum maiores aliquam quas?</li>
          <li>Amet iusto ipsam neque voluptates.</li>
          <li>Saepe distinctio eligendi corporis quasi.</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Saepe vitae quasi pariatur alias rerum perspiciatis voluptate!</li>
  <li>Pariatur rerum ipsam animi laboriosam? Minima, ex aperiam.</li>
  <li>Voluptatum a quod, explicabo officia dolore nobis sint.</li>
</ul>

<ol>
  <li>Atque saepe modi architecto laudantium magnam nisi eligendi.</li>
  <li>Mollitia voluptatem saepe recusandae assumenda doloribus cum eius?</li>
  <li>Inventore doloribus tempora ea nisi velit magnam perferendis?
    <ol>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Dolorem ex officiis nesciunt ad.</li>
      <li>Est doloribus quaerat deserunt deleniti.</li>
      <li>Dicta eum consequuntur eos maxime?
        <ol>
          <li>Hic et nostrum ipsam corporis!</li>
          <li>Eos, quos vel. Inventore, reiciendis?</li>
          <li>Voluptate quidem ipsum rerum repellendus.</li>
        </ol>
      </li>
    </ol>
  </li>
  <li>Expedita facilis culpa dolorum cupiditate veniam delectus magni?</li>
  <li>Consectetur, magni. Provident, quis animi! Reprehenderit, reiciendis ipsa.</li>
</ol>
