<figure>
  <table>
    <thead>
      <tr>
        <th>Channel</th>
        <th>What goes in this channel</th>
        <th>Who to contact to contribute a post</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CDLINFO</td>
        <td>The CDLINFO blog is CDL’s primary channel for distributing news about our organization, our services and our activities within the UC and beyond.</td>
        <td>During your onboarding process, you were provided with your own WordPress account for the CDL website. Once your WordPress account is set up, log in to post directly to the CDLINFO blog. If you require assistance with creating a CDLINFO post, please send an email to website.requests@cdlib.org and the UX team will assist you with posting content.</td>
      </tr>
      <tr>
        <td>CDL X</td>
        <td>The CDL X account is automatically populated by CDLINFO posts. It is not actively posted to outside of the CDLINFO content, but can have one-off posts if desired.</td>
        <td>Send an email to website.requests@cdlib.org and the UX team will post your content to the specified channel on your behalf.</td>
      </tr>
      <tr>
        <td>CDL Facebook</td>
        <td>The CDL Facebook account is is automatically populated by CDLINFO posts. It is not actively posted to outside of the CDLINFO content, but can have one-off posts if desired.</td>
        <td>Send an email to website.requests@cdlib.org and the UX team will post your content to the specified channel on your behalf.</td>
      </tr>
    </tbody>
  </table>
  <figcaption>This is the optional table caption automatically created as a figcaption element within a containing figure element by the WordPress table block editor.</figcaption>
</figure>
