<section class="c-banner js-banner">
  <header>
    <h2>Join OPSA &amp; UC colleagues for bingo on Feb. 17</h2>
    <button aria-label="close"></button>
  </header>
  {{ banner.paragraph }}
</section>
