<section class="c-card-logo">
  <h2>{{ logo.institution }}</h2>
  <img src="{{ logo.image }}" alt="UC logo">
  <a href="">{{ logo.guidelines }}</a>
  <a href="" download>{{ logo.download }}</a>
</section>
