<section class="c-card">
  <a href="">
    <h2>{{ card.title }}</h2>
    <div>
      <img src="{{ card.image }}" alt="Nature scene">
    </div>
  </a>
  <div class="c-card__caption">
    <p>{{ card.caption }}</p>
  </div>
</section>
