<section class="c-card--narrow">
  <a href="">
    <h3>{{ card.title }}</h3>
    <img src="{{ card.image }}" alt="Nature scene">
  </a>
  <div class="c-card__caption">
    <p>{{ card.caption }}</p>
  </div>
</section>
