<article class="c-feature">
  <h1>Latest Video Recording</h1>
  <time datetime="2022-09-18">18 August 2022</time>
  <div class="c-feature__caption">
    <p>{{{ feature.caption }}}</p>
  </div>
  <div class="c-feature__media">
    <img src="{{ feature.image }}" alt="Random nature scene">
  </div>
  <ul class="c-feature__links">
    <li><a href="">Watch Recording</a></li>
    <li><a href="">All Video Recordings</a></li>
  </ul>
</article>
