<div class="c-footer">
  {{ render '@footer-logo' }}
  <ul>
    <li><a href="">About IntraCDL</a></li>
    <li><a href="">Privacy Policy</a></li>
    <li><a href="">Comments / Feedback</a></li>
    <li><a href="">Accessiblity</a></li>
  </ul>
</div>
