<nav class="c-interiornav js-interiornav" aria-labelledby="interiornav-heading">
  <header>
    <h2 id="interiornav-heading">
      <a href="">CDL Financial Services</a>
    </h2>
    <button aria-label="open" aria-expanded="false"></button>
  </header>
  <div class="js-interiornav__list">
    <ul>
      <li><a href="">Pages</a>
        <ul>
          <li><a href="" aria-current="page">Order Request Process</a></li>
          <li><a href="">Nobis sint id</a></li>
          <li><a href="">Esse exercitationem</a></li>
          <li><a href="">Necessitatibus minima possimus</a></li>
        </ul>
      </li>
      <li><a href="">Documents</a>
        <ul>
          <li><a href="">Minus sit similique mollitia</a></li>
          <li><a href="">Rerum minus dolorem sapiente</a></li>
          <li><a href="">Eum esse quisquam fugiat</a></li>
        </ul>
      </li>
      <li><a href="">Articles</a>
        <ul>
          <li><a href="">Maiores cumque distinctio</a></li>
          <li><a href="">Minima consequuntur optio voluptates</a></li>
          <li><a href="">Sapiente quisquam laboriosam</a></li>
          <li><a href="">Maxime vero quo</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
