<aside class="c-postdate" aria-label="updated by document owner">
  <dl>
    <div>
      <dt>Last updated</dt>
      <dd>{{ postdate.date }}</dd>
    </div>
    <div>
      <dt>Document owner</dt>
      <dd>{{ postdate.name }}</dd>
    </div>
  </dl>
</aside>
