<nav class="c-quicklinks--ucop" aria-labelledby="qlinks-header-ucop">
  <ul>
    <li><a href="">UC Path</a></li>
    <li><a href="">Time Reporting System (TRS)</a></li>
    <li><a href="">Service Now</a></li>
    <li><a href="">UC Learning</a></li>
    <li><a href="">Outlook Web Access</a></li>
    <li><a href="">Link: UCOP Staff News</a></li>
  </ul>
</nav>
