<nav class="c-quicklinks--cdl" aria-labelledby="qlinks-header-cdl">
  <ul>
    <li><a href="">CDL Org Chart</a></li>
    <li><a href="">Travel &amp; Training Pre-Approval Form</a></li>
    <li><a href="">Order Request Form</a></li>
    <li><a href="">CDL Website Login</a></li>
    <li><a href="">CDL Logos</a></li>
    <li><a href="">Infrastructure &amp; Applications Support (IAS)</a></li>
  </ul>
</nav>
