<nav class="c-quicklinks--ucop" aria-labelledby="nav-heading-ucop">
  <h2 id="nav-heading-ucop">UCOP Staff Resources</h2>
  <ul>
    <li><a href="">UC Path</a></li>
    <li><a href="">Time Reporting System (TRS)</a></li>
    <li><a href="">Service Now</a></li>
    <li><a href="">UC Learning</a></li>
    <li><a href="">UCOP Holiday Calendar</a></li>
    <li><a href="">UCOP Letterhead</a></li>
  </ul>
</nav>
