<nav class="c-relatedlinks js-relatedlinks" aria-labelledby="relatedlinks-heading">
  <header>
    <h2 id="relatedlinks-heading">Related Links</h2>
    <button aria-label="open" aria-expanded="false"></button>
  </header>
  <div class="js-relatedlinks__list">
    <ul>
      <li><a href="">Lorem ipsum dolor</a></li>
      <li><a href="">Ex odit saepe</a></li>
      <li><a href="">Natus delectus numquam</a></li>
      <li><a href="">Temporibus libero aliquam</a></li>
      <li><a href="">Consequuntur veritatis</a></li>
    </ul>
  </div>
</nav>
