<ul>
  <li>Learn how to update:
    <ul>
      <li><a href="">Lorem ipsum dolor sit amet</a></li>
      <li><a href="">Quia unde iste perspiciatis quidem</a></li>
      <li><a href="">Impedit nihil dolores obcaecati</a></li>
      <li><a href="">Voluptatem reiciendis alias corporis sed</a></li>
      <li><a href="">Eius dolorem fugit itaque harum</a></li>
    </ul>
  </li>
  <li>Or get in touch at:
    <ul>
      <li><strong><a href="mailto:website.requests@cdlib.org">Website.Requests@cdlib.org</a></strong></li>
    </ul>
  </li>
</ul>
