<section class="c-topicbox--color2 js-topicbox">
  <header>
    <h3>Section Heading</h3>
    <button aria-label="open" aria-expanded="false"></button>
  </header>
  <div class="js-topicbox__content">
  {{ render '@topiclist--3' }}
  </div>
</section>
