/**** Banner Component ****/

.c-banner {
  padding-block: var(--space-base);
  background-color: var(--color-gold);

  & header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--space-base);
  }

  & h2 {
    margin-block: 0 var(--space-base);
    font-size: 1.2rem;
    font-weight: 600;
  }

  & button {
    all: unset;
    flex: none;
    block-size: 2rem;
    inline-size: 2rem;
    background-color: black;
    mask: url('data-url:npm:fa-light/circle-xmark.svg') center / contain;
  }

  & p {
    margin-block: unset;
  }
}
