/**** Card Component ****/

.c-card {
  display: grid;
  gap: var(--space-base);
  padding: var(--space-base);
  border-inline-start: 4px solid var(--color-gold);
  border-radius: var(--border-inline-end-radius);
  background-color: white;
  box-shadow: 0 3px 5px oklch(0 0 0deg / 10%);

  &:focus-within,
  &:hover {
    border-inline-start: 4px solid var(--color-blue);
  }

  & > a {
    display: grid;
    grid-row: 1 / 3;
    grid-template-rows: subgrid;
  }

  a {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  & h2 {
    margin: unset;
    font-size: 1.3rem;
  }

  & img {
    inline-size: 100%;
  }
}

.c-card__caption {
  & p {
    &:first-child {
      margin-block-start: unset;
    }

    &:last-child {
      margin-block-end: unset;
    }
  }
}

.c-card__more-link {
  text-align: end;
}
