/**** Feature Component ****/

.c-feature {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  gap: var(--space-base);
  padding: var(--space-base);
  border-top: 3px solid var(--color-gold);
  border-radius: var(--border-block-end-radius);
  background-color: white;
  container-type: inline-size;

  & h1 {
    margin: unset;
    font-size: 1.3rem;
    font-weight: 600;
  }

  & time {
    font-style: italic;
    place-self: end;
  }

  & p {
    grid-column: 1 / 3;
    margin: unset;
  }
}

.c-feature__media {
  grid-column: 1 / 3;
  grid-row: 2;
  border: 2px solid black;

  & img {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
  }
}

.c-feature__links {
  all: unset;
  display: flex;
  grid-column: 1 / 3;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: var(--space-base);

  & li {
    all: unset;
  }
  
  & a {
    font-size: 1.2rem;
    font-weight: normal;
    text-decoration: none;
  
    &:active,
    &:hover {
      text-decoration: underline;
    }
  }
  
  & strong a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: oklch(98% 0.01 241deg);
    font-weight: normal;
  }  
}

@media (width > 50rem) {
  .c-feature {
    grid-template-columns: 65% auto;

    & h1 {
      grid-column: 2;
    }

    & time {
      grid-column: 2;
      place-self: start;
    }

    & p {
      grid-column: 2;
    }
  }

  .c-feature__media {
    grid-column: 1;
    grid-row: 1 / 5;
  }

  .c-feature__links {
    grid-column: 2;
  }
}
