/**** Highlight Link Component ****/

.c-highlight-link {
  display: block;
  margin-block: var(--space-lg);
  font-size: 1.2rem;
  font-weight: 700;

  & a {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;

    &::after {
      content: '';
      flex: none;
      block-size: 1.2rem;
      inline-size: 1.2rem;
      background-color: currentcolor;
      mask: url('data-url:/fa-solid/circle-arrow-right.svg') center / contain no-repeat;
    }
  }
}
