/**** Interior Navigation Component ****/

.c-interiornav {
  padding-inline: var(--space-sm);
  border-block-start: 3px solid var(--color-gold);

  & header {
    display: flex;
    justify-content: space-between;
    margin-inline: calc(var(--space-sm) * -1);
    padding: var(--space-sm);
    background-color: black;
    color: white;
  }
  
  & h2 {
    margin-block: unset;
    font-size: 1.2rem;
    font-weight: 400;
  }

  & h2 a {
    color: currentcolor;
  }

  & header button {
    all: unset;
    flex: none;
    block-size: 1.2rem;
    inline-size: 1.2rem;
    background-color: white;
    mask: url('data-url:/fa-solid/caret-down.svg') center / 1.2rem no-repeat;
  }

  & header button[aria-expanded='true'] {
    transform: rotate(-180deg);
  }

  & header button[hidden] {
    display: none;
  }

  & ul {
    all: unset;
    display: block;

    &[hidden] {
      display: none;
    }
  }

  & ul ul {
    margin-block-end: 1.6rem;
    margin-inline-start: 0.8rem;
  }

  & li {
    margin-block: 0.8rem;
    font-size: 1.2rem;
    line-height: 1;
    list-style: none;
  }

  & li:last-child,
  & li:last-child ul {
    margin-block-end: unset;
  }

  & a {
    text-decoration: none;

    &:active,
    &:hover {
      text-decoration: underline;
    }

    &[aria-current] {
      color: black;
      font-style: italic;
      font-weight: 700;
    }
  }
}
