/**** Quicklinks Header Components ****/

.c-qlinks-header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  gap: var(--space-base);

  & h2 {
    margin: unset;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
  }

  & a {
    color: white;

    &:active,
    &:hover {
      text-decoration: none;
    }
  }
}
