/**** Quicklinks Components ****/

.c-quicklinks--cdl,
.c-quicklinks--ucop {
  --grid-repeat-count: auto-fit;

  container-type: inline-size;

  & ul {
    all: unset;
    display: grid;
    grid-template-columns: repeat(var(--grid-repeat-count), minmax(8rem, 1fr));
    gap: var(--space-sm);
    padding-block-end: var(--space-base);
    border-block-start: 3px solid var(--top-border);
    border-radius: var(--border-block-end-radius);
    background-color: white;
  }

  & li {
    all: unset;
    display: flex;
    justify-content: center;
  }

  & a {
    display: flex;
    flex-direction: column;
    inline-size: 7rem;
    text-align: center;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &::before {
      content: '';
      flex: none;
      block-size: 3rem; /* icon container size */
      margin-block: var(--space-base);
      transform: var(--icon-transform);
      background-color: currentcolor;
      mask: var(--icon-url) center / var(--icon-custom-size, contain) no-repeat;
    }
  }
}

@container (30rem <= width <= 55rem) {
  .c-quicklinks--cdl ul,
  .c-quicklinks--ucop ul {
    --grid-repeat-count: 3;
  }
}

.c-quicklinks--cdl {
  --top-border: var(--color-gold);

  & li {
    &:first-child {
      --icon-url: url('data-url:/fa-solid/sitemap.svg');
    }

    &:nth-child(2) {
      --icon-url: url('data-url:/images/icon-travel-form.svg');
    }

    &:nth-child(3) {
      --icon-url: url('data-url:/fa-regular/file-invoice-dollar.svg');
    }

    &:nth-child(4) {
      --icon-url: url('data-url:/fa-solid/pen-to-square.svg');
    }

    &:nth-child(5) {
      --icon-url: url('data-url:/images/icon-cdl.svg');
    }

    &:last-child {
      --icon-url: url('data-url:/fa-brands/github-alt.svg');
    }
  }
}

.c-quicklinks--ucop {
  --top-border: var(--color-magenta);

  & li {
    &:first-child {
      --icon-url: url('data-url:/fa-solid/person-hiking.svg');
    }
  
    &:nth-child(2) {
      --icon-url: url('data-url:/fa-solid/business-time.svg');
    }
  
    &:nth-child(3) {
      --icon-url: url('data-url:/fa-solid/user-headset.svg');
    }
  
    &:nth-child(4) {
      --icon-url: url('data-url:/fa-solid/graduation-cap.svg');
    }
  
    &:nth-child(5) {
      --icon-url: url('data-url:/images/logo-outlook.svg');
    }
  
    &:last-child {
      --icon-url: url('data-url:/images/logo-link.svg');
      --icon-custom-size: 4rem;
    }
  }
}
