/**** Topic Boxes ****/

.c-topicboxes--help,
.c-topicboxes--about,
.c-topicboxes--business,
.c-topicboxes--employee {
  padding: 0 var(--space-lg) var(--space-base);
  border: 1px solid oklch(95% 0 0);
  background-color: white;

  & h3 {
    margin-block-start: 0;
    margin-inline: calc(var(--space-lg) * -1);
    padding-block-start: var(--space-base);
    padding-inline: var(--space-lg);
    font-size: 1.5rem;
    font-weight: 500;
  }

  /* Box content formatting: */

  & ul {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-start: 1rem;
  }

  & li {
    font-weight: 700;
    line-height: 1;
    list-style: none;
  }

  & li a {
    margin-inline-start: var(--space-base);
  }

  & a {
    font-size: 1.2rem;
    font-weight: normal;
    text-decoration: none;

    &:active,
    &:hover {
      text-decoration: underline;
    }
  }

  & strong a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: oklch(98% 0.01 241);
    font-weight: normal;
  }

  & p:last-child {
    margin-block-end: 0;
  }
}

.c-topicboxes--help {
  border-radius: var(--border-radius);

  & h3 {
    margin-block-end: var(--space-base);
    padding-block: var(--space-base);
    border-block-end: 3px solid var(--color-blue);
  }
}

.c-topicboxes--about {
  border-block-start: 3px solid var(--color-gold);
  border-radius: var(--border-block-end-radius);
}

.c-topicboxes--business {
  border-block-start: 3px solid var(--color-blue);
  border-radius: var(--border-block-end-radius);
}

.c-topicboxes--employee {
  border-block-start: 3px solid var(--color-magenta);
  border-radius: var(--border-block-end-radius);
}
