/**** Topic Boxes ****/

.c-topicbox--color1,
.c-topicbox--color2,
.c-topicbox--color3 {
  padding: 0 var(--space-lg) var(--space-base);
  border: 1px solid oklch(95% 0 0deg);
  border-radius: var(--border-block-end-radius);
  border-block-start: 3px solid var(--topicbox-border-color);
  background-color: white;

  & header {
    display: flex;
    justify-content: space-between;
    margin-inline: calc(var(--space-lg) * -1);
    padding-block-start: var(--space-base);
    padding-inline: var(--space-lg);
  }

  & h3 {
    margin-block: unset;
    font-size: 1.5rem;
    font-weight: 500;
  }

  & header button {
    all: unset;
    flex: none;
    block-size: 1.5rem;
    inline-size: 1.5rem;
    background-color: black;
    mask: url('data-url:npm:fa-solid/caret-down.svg') center / 1.5rem no-repeat;
  }

  & header button[aria-expanded='true'] {
    transform: rotate(-180deg);
  }

  & header button[hidden] {
    display: none;
  }

  /* Box content formatting: */

  & ul {
    all: unset;
    display: block;
  }

  & ul:has(> li > a) {
    margin-inline-start: var(--space-base);
  }

  /* If above :has selector not supported (this only selects the nested lists): */

  & ul ul {
    margin-inline-start: var(--space-base);
  }

  & li {
    margin-block: 1.2rem;
    list-style: none;

    &:last-child {
      margin-block-end: 0;
    }
  }

  & li,
  & strong {
    font-weight: 600;
    line-height: 1.15;
  }

  & a {
    font-size: 1.2rem;
    font-weight: normal;
    text-decoration: none;
    overflow-wrap: anywhere;

    &:active,
    &:hover {
      text-decoration: underline;
    }
  }

  & strong a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: oklch(98% 0.01 241deg);
    font-weight: normal;
  }

  & p:last-child {
    margin-block-end: 0;
  }
}

.c-topicbox--color1 {
  --topicbox-border-color: var(--color-blue);
}

.c-topicbox--color2 {
  --topicbox-border-color: var(--color-gold);
}

.c-topicbox--color3 {
  --topicbox-border-color: var(--color-magenta);
}
