:is(h1, h2, h3, h4, h5, h6) {
  margin-block: 2.5rem 1rem;
}

h1 {
  font-size: 2.747rem;
  font-weight: 500;
}

h2 {
  font-size: 2.197rem;
  font-weight: 500;
}

h3 {
  font-size: 1.7571rem;
  font-weight: 500;
}

h4 {
  font-size: 1.406rem;
  font-weight: 500;
}

h5 {
  font-size: 1.125rem;
  font-weight: 600;
}

h6 {
  font-size: 0.9rem;
  font-weight: 600;
}
