/* Default link style */

a {
  color: var(--color-blue);
}

/* Mailto links */

a[href^='mailto:'] {
  display: inline-flex;
  align-items: center;
  gap: var(--space-sm);

  &::after {
    content: '';
    flex: none;
    block-size: 1rem;
    inline-size: 1rem;
    background-color: currentcolor;
    mask: url('data-url:npm:fa-regular/envelope.svg') center / contain no-repeat;
  }
}

/* Highlight and Download links. These are only styled if a single <a> tag is nested within a <strong> or <em> tag (or using the opposite nesting) via Wordpress editor. */

strong > a:only-child,
a > strong:only-child,
em > a:only-child,
a > em:only-child {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: underline;

  &::after {
    content: '';
    flex: none;
    block-size: 1.2rem;
    inline-size: 1.2rem;
    background-color: currentcolor;
  }
}

/* Highlight link style using right arrow: */

strong > a:only-child::after,
a > strong:only-child::after {
  mask: url('data-url:npm:fa-solid/circle-arrow-right.svg') center / contain no-repeat;
}

/* Download link style using down arrow: */

em > a:only-child,
a > em:only-child {
  font-style: normal;

  &::after {
    mask: url('data-url:npm:fa-solid/circle-arrow-down.svg') center / contain no-repeat;
  }
}
