/* Default link style */

a {
  color: var(--color-blue);
}

/* Mailto links */

a[href^='mailto:'] {
  display: inline-flex;
  align-items: center;
  gap: var(--space-sm);

  &::after {
    content: '';
    flex: none;
    block-size: 1rem;
    inline-size: 1rem;
    background-color: currentcolor;
    mask: url('data-url:/fa-regular/envelope.svg') center / contain no-repeat;
  }
}

/* Bold and download links */

p > strong:only-child > a:only-child,
p > em:only-child > a:only-child {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.2rem;
  font-weight: 700;

  &::after {
    content: '';
    flex: none;
    block-size: 1.2rem;
    inline-size: 1.2rem;
    background-color: currentcolor;
  }
}

p > strong:only-child > a:only-child::after {
  mask: url('data-url:/fa-solid/circle-arrow-right.svg') center / contain no-repeat;
}

p > em:only-child > a:only-child {
  font-style: normal;

  &::after {
    mask: url('data-url:/fa-solid/circle-arrow-down.svg') center / contain no-repeat;
  }
}
