figure.wp-block-table { /* #1 */
  margin-inline: unset;
  overflow: unset;
}

figure.wp-block-table table {
  border-collapse: collapse;

  & :is(thead, th, td) { /* #1 */
    padding: unset;
    border: unset;
  }

  & th {
    font-weight: 700;
    text-align: start;
  }

  & thead th {
    padding: 0 var(--space-base) var(--space-sm);
    vertical-align: bottom;
  }

  & tbody th { /* #2 */
    padding: var(--space-base);
    color: var(--color-blue);
    vertical-align: top;
  }

  & tbody tr {
    border-block-start: 1px solid var(--color-blue);
  }

  & td {
    padding: 1.5rem var(--space-base);
    vertical-align: top;
  }

  & td a {
    word-break: break-word;
  }

  + figcaption { /* #3 */
    padding: var(--space-base) var(--space-base) 0;
    font-size: 0.9rem;
  }
}

/* #1: Unset WordPress table block styles */

/* #2: The WordPress table editor doesn't appear to be able to create header cells in a table body, but we style for them just in case. */

/* #3: If a table caption is added via the WordPress table editor, it adds it as a figcaption element sibling to the table element. */
